body {
	font-family: 'Roboto';
	line-height: 10px;
}

header {
	background-color: orange;
	position: fixed;
	top: 0;
	width: 100%;
	padding: 5px 15px;
	text-indent: 25%;
}

h1 {
	font-size: 25px;
}

p {
	font-size: 12px;
}

main {
	margin-top: 100px;
}

.card {
	border: 1px solid #ddd;
	padding-bottom: 15px;
	text-indent: 15px;
	margin-bottom: 20px;
}

.card img {
	width: 100%;
	display: block;
}

@media only screen and (max-width: 640px) {
	header {
		text-indent: 0;
	}

	p {
		font-size: 14px;
	}
}